{% extends "govuk/template.njk" %}
{% from "components/languageLink/macro.njk" import languageLink %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% set serviceName = 'serviceName' | translate %}
{% set serviceUrl = "http://localhost:8081" %}
{% set homepageUrl = 'homepageUrl' | translate %}
{% macro errorSummary(errors) %}
    {% include "common/errorSummary/errorSummary.njk" %}
{% endmacro %}
{% macro saveButtons() %}
    <div class="buttons__container">
        {{ govukButton({
      name: 'saveAndContinue',
      text: 'common.buttons.saveAndContinue' | translate,
      classes: "govuk-!-margin-right-1"
    }) }}
        {{ govukButton({
      text: 'common.buttons.saveForLater' | translate,
      name: "saveForLater",
      value: "saveForLater",
      classes: "govuk-button--secondary"
    }) }}
    </div>
{% endmacro %}
{% macro input(label, id, value = '') %}
    {{ govukInput({
    label: {
      text: label
    },
    id: id,
    name: id,
    classes: "govuk-input--width-20",
    value: value,
    errorMessage: errors.fieldErrors[id]
  }) }}
{% endmacro %}
{% macro contactUs() %}
    {{ govukDetails({
    summaryText: 'components.contactUs.heading' | translate,
    html: 'components.contactUs.content' | translate
  }) }}
{% endmacro %}
{% macro contactUsErrorLink() %}
    {{ govukDetails({
    summaryText: 'components.contactUs.heading' | translate,
    html: 'components.contactUs.content' | translate
  }) }}
{% endmacro %}
{% block head %}
    {% set googleAccount = 'GTM-TESTACC' %}
    {% if (environment == 'prod') %}
        {% set googleAccount = 'GTM-PRODACC' %}
    {% endif %}
    {% if consented_to_cookies.usage == "true" %}
        <!-- Google Tag Manager -->
        <script src="/gaDataLayer.js?pg={{currentUrl | encodeURIComponent}}"></script>
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != 'dataLayer'
                        ? '&l=' + l
                        : '';
                j.async = true;
                j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f
                    .parentNode
                    .insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', '{{ googleAccount }}');
        </script>
        <!-- End Google Tag Manager -->
    {% endif %}
    <link href="/style.css?{{styleCssSuffix}}" rel="stylesheet"/>
{% endblock %}
{% block bodyStart %}
    {% if consented_to_cookies.usage == "true" %}
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            {% if (environment == 'prod') %}
                <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PRODACC" height="0" width="0" class="gtm-iframe"></iframe>
            {% else %}
                <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TESTACC" height="0" width="0" class="gtm-iframe"></iframe>
            {% endif %}
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    {% endif %}
{% endblock %}
{% block pageTitle %}
    {% if error or errors %}
        {{ 'errorTitlePrefix' | translate }}
    {% endif %}
    {% if pageTitleName %}
        {{ pageTitleName }}
        -
    {% endif %}
    {{ 'serviceName' | translate }}
    -
    {{ 'provider' | translate }}
{% endblock %}
{% block header %}
    {% include 'common/layout/banner.njk' %}
    {% include 'common/layout/accepted.njk' %}
    {{ govukHeader({ homepageUrl: homepageUrl, containerClasses: "govuk-width-container", serviceName: serviceName, serviceUrl: serviceUrl }) }}
    <div role="region" aria-label="{{ 'phaseBanner.version' | translate }}" class="govuk-width-container">
        {{ govukPhaseBanner({
        tag: {
          text: 'phaseBanner.version' | translate
        },
        html: 'phaseBanner.text' | translate | safe 
      }) }}
    </div>
{% endblock %}
{% block beforeContent %}
    {% if previousPage %}
        {{ govukBackLink({ text: 'components.back.back' | translate, href: previousPage }) }}
    {% endif %}
{% endblock %}
{% block bodyEnd %}
    {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
    {% if startSessionTimeout %}
        <meta name="hmrc-timeout-dialog" content="hmrc-timeout-dialog" data-language="en" data-timeout="1200" data-countdown="120" data-keep-alive-url="/extend-session" data-sign-out-url="/signout-session" data-timeout-url="/timeout-session?flow={{ flowType }}" data-title='{{ "components.timeoutDialog.title" | translate }}' data-message='{{ "components.timeoutDialog.message" | translate }}' data-second='{{ "components.timeoutDialog.second" | translate }}' data-seconds='{{ "components.timeoutDialog.seconds" | translate }}' data-minute='{{ "components.timeoutDialog.minute" | translate }}' data-minutes='{{ "components.timeoutDialog.minutes" | translate }}' data-keep-alive-button-text='{{ "components.timeoutDialog.keepAliveButton" | translate }}' data-sign-out-button-text='{{ "components.timeoutDialog.signOutButton" | translate }}'/>
    {% endif %}
    <script src="/all.js?{{ allJsSuffix }}"></script>
{% endblock %}
{% macro continueButton() %}
    {{ govukButton({ text: "Continue" }) }}
{% endmacro %}
{% block footer %}
    <footer class="govuk-footer " role="contentinfo">
        <div class="govuk-width-container ">
            <div class="govuk-footer__meta">
                <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                    <h2 class="govuk-visually-hidden">Support links</h2>
                    <ul class="govuk-footer__inline-list">
                        {{ languageLink({ 
                currentUrl: currentUrl,       
                htmlLang: htmlLang,        
                code:"en",
                text:"English"                
              }) }}
                        {{ languageLink({
                currentUrl: currentUrl,  
                htmlLang: htmlLang,   
                code:"cy",
                text:"Cymraeg"
              }) }}
                        {{ languageLink({
                currentUrl: currentUrl,  
                htmlLang: htmlLang,   
                code:"bg",
                text:"български"
              }) }}
                        {{ languageLink({
                currentUrl: currentUrl,  
                htmlLang: htmlLang,   
                code:"de",
                text:"Deutsch"
              }) }}
                        {{ languageLink({
                currentUrl: currentUrl,  
                htmlLang: htmlLang,   
                code:"es",
                text:"Español"
              }) }}
                        {{ languageLink({
                currentUrl: currentUrl,  
                htmlLang: htmlLang,   
                code:"fr",
                text:"Français"
              }) }}
                        {{ languageLink({
                currentUrl: currentUrl,  
                htmlLang: htmlLang,   
                code:"nl",
                text:"Nederlands"
              }) }}
                        {{ languageLink({
                currentUrl: currentUrl,  
                htmlLang: htmlLang,   
                code:"pl",
                text:"Polski"
              }) }}
                        {{ languageLink({
                currentUrl: currentUrl,  
                htmlLang: htmlLang,   
                code:"ro",
                text:"Română"
              }) }}
                    </ul>
                    <ul class="govuk-footer__inline-list">
                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" href="/cookies">
                                {{ "components.footer.items.cookies" | translate }}
                            </a>
                        </li>
                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" href="/privacy">
                                {{ "components.footer.items.privacy" | translate }}
                            </a>
                        </li>
                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" href="/accessibility">
                                {{ "components.footer.items.accessibility" | translate }}
                            </a>
                        </li>
                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" href="/terms-and-conditions">
                                {{ "components.footer.items.termsAndConditions" | translate }}
                            </a>
                        </li>
                    </ul>
                    <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 483.2 195.7" height="17" width="41">
                        <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
                    </svg>
                    <span class="govuk-footer__licence-description">
                        All content is available under the
                        <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
                    </span>
                </div>
                <div class="govuk-footer__meta-item">
                    <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}