{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "components/languageLink/macro.njk" import languageLink %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% extends "common/layout/view.njk" %}
{% set pageTitleName = 'pages.start.title' | translate %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="/json" method="post" class="form" novalidate>
                <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
                {{ govukTextarea({
                    name: "jsonObj",
                    id: "jsonObj",
                    classes: "mono-space",
                    rows: 20,
                    value: jsonObj,
                    label: {
                        text: "Please supply data in JSON format",
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    hint: {
                        text: "Your data should be surounded in { ... } "
                    },
                    errorMessage: { text: errors['jsonObj'].text } if (errors['jsonObj'])
                }) }}
                {{ govukButton({
                    text: "Append more JSON data",
                    name: "button-append"
                }) }}
                {{ govukButton({
                    text: "common.buttons.continue" | translate,
                    name: "button-continue"
                }) }}
            </form>
        </div>
        <div class="govuk-grid-column-one-third">
            {{ govukTextarea({
                name: "userData",
                id: "userData",
                classes: "mono-space",
                rows: 20,
                value: userData,
                label: {
                    text: "Current user data",
                    classes: "govuk-label--l",
                    isPageHeading: true
                },
                hint: {
                    text: "This is the current user data loaded"
                }
            }) }}
        </div>
    </div>
    
{% endblock %}