{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "components/languageLink/macro.njk" import languageLink %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% extends "common/layout/view.njk" %}
{% set pageTitleName = 'pages.ipv.info.title' | translate %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% set errorList = errorList | lastErrors(["#dob"]) %}
            {% include "components/errorSummary/errorSummary.njk" %}
            <h1 class="govuk-heading-xl">{{ 'pages.bankAccount.header' | translate }}</h1>
            <p class="govuk-hint govuk-!-margin-bottom-1">{{ 'pages.bankAccount.cvv.hint' | translate }}</p>    
            <form action="/bank-account/cvv" method="post" class="form" novalidate>
                <input type="hidden" name="_csrf" value="{{csrfToken}}"/>                
                {{ govukInput({
                label: {
                    text: 'pages.bankAccount.cvv.question' | translate,
                    classes: "govuk-label--l"
                   
                },
                hint: { text: 'pages.bankAccount.cvv.questionHint' | translate },
                classes: "govuk-!-width-one-quarter",
                id: "cvv",
                name: "cvv",
                value: cvv,
                errorMessage: {
                        text: errors['cvv'].text
                    } if (errors['cvv'])
                }) }}

                {{ govukButton({
                    text: "common.buttons.continue" | translate
                }) }}
            </form>
        </div>
    </div>
    
{% endblock %}