{% extends "common/layout/view.njk" %}
{% set pageTitleName = 'pages.termsAndConditions.title' | translate %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{'pages.termsAndConditions.header' | translate }}</h1>

            <p>{{'pages.termsAndConditions.paragraph1' | translate }}</p>

            <h2 id="who-we-are">{{'pages.termsAndConditions.whoWeAre.header' | translate}}</h2>

            <p>{{'pages.termsAndConditions.whoWeAre.paragraph1' | translate | safe}}</p>

            <h2 id="using-govuk">{{'pages.termsAndConditions.usingTheService.header' | translate}}</h2>

            <p>{{'pages.termsAndConditions.usingTheService.paragraph1' | translate}}</p>

            <p>{{'pages.termsAndConditions.usingTheService.paragraph2' | translate}}</p>

            <h2 id="services-and-transactions">{{'pages.termsAndConditions.servicesAndTransactions.header' | translate}}</h2>

            <p>{{'pages.termsAndConditions.servicesAndTransactions.paragraph1' | translate | safe}}</p>

            <p>{{'pages.termsAndConditions.servicesAndTransactions.paragraph2' | translate | safe}}</p>

            <p>{{'pages.termsAndConditions.servicesAndTransactions.paragraph3' | translate}}</p>

            <h2 id="linking-to-govuk">{{'pages.termsAndConditions.linkingTo.header' | translate}}</h2>

            <p>{{'pages.termsAndConditions.linkingTo.paragraph1' | translate}}</p>

            <p>{{'pages.termsAndConditions.linkingTo.paragraph2' | translate | safe}}</p>

            <ul>
                <li>{{'pages.termsAndConditions.linkingTo.list1.item1' | translate}}</li>
                <li>{{'pages.termsAndConditions.linkingTo.list1.item2' | translate}}</li>
            </ul>

            <h2 id="linking-from-govuk">{{'pages.termsAndConditions.linkingFrom.header' | translate}}</h2>

            <p>{{'pages.termsAndConditions.linkingFrom.paragraph1' | translate}}</p>

            <p>{{'pages.termsAndConditions.linkingFrom.paragraph2' | translate | safe}}</p>

            <ul>
                <li>{{'pages.termsAndConditions.linkingFrom.list1.item1' | translate}}</li>
                <li>{{'pages.termsAndConditions.linkingFrom.list1.item2' | translate}}</li>
            </ul>

            <p>{{'pages.termsAndConditions.linkingFrom.paragraph3' | translate}}</p>

            <p>{{'pages.termsAndConditions.linkingFrom.paragraph4' | translate}}</p>

            <h2 id="using-govuk-content">{{'pages.termsAndConditions.usingContent.header' | translate}}</h2>

            <p>{{'pages.termsAndConditions.usingContent.paragraph1' | translate | safe}}</p>

            <p>{{'pages.termsAndConditions.usingContent.paragraph2' | translate | safe}}</p>

            <p>{{'pages.termsAndConditions.usingContent.paragraph3' | translate | safe}}</p>

            <p>{{'pages.termsAndConditions.usingContent.paragraph4' | translate | safe}}</p>

            <p>{{'pages.termsAndConditions.usingContent.paragraph5' | translate | safe}}</p>

            <p>{{'pages.termsAndConditions.usingContent.paragraph6' | translate | safe}}</p>

            <p>{{'pages.termsAndConditions.usingContent.paragraph7' | translate}}</p>

            <p>{{'pages.termsAndConditions.usingContent.paragraph8' | translate}}</p>

            <p>{{'pages.termsAndConditions.usingContent.paragraph9' | translate}}</p>

            <h2 id="disclaimer">{{'pages.termsAndConditions.disclaimer.header' | translate}}</h2>

            <p>{{'pages.termsAndConditions.disclaimer.paragraph1' | translate}}</p>

            <ul>
                <li>{{'pages.termsAndConditions.disclaimer.list1.item1' | translate }}</li>
                <li>{{'pages.termsAndConditions.disclaimer.list1.item2' | translate }}</li>
                <li>{{'pages.termsAndConditions.disclaimer.list1.item3' | translate }}</li>
                <li>{{'pages.termsAndConditions.disclaimer.list1.item4' | translate }}</li>
                <li>{{'pages.termsAndConditions.disclaimer.list1.item5' | translate }}</li>
            </ul>

            <p>{{'pages.termsAndConditions.disclaimer.paragraph2' | translate}}</p>

            <p>{{'pages.termsAndConditions.disclaimer.paragraph3' | translate}}</p>

            <ul>
                <li>{{'pages.termsAndConditions.disclaimer.list2.item1' | translate }}</li>
                <li>{{'pages.termsAndConditions.disclaimer.list2.item2' | translate }}</li>
                <li>{{'pages.termsAndConditions.disclaimer.list2.item3' | translate }}</li>
                <li>{{'pages.termsAndConditions.disclaimer.list2.item4' | translate }}</li>
            </ul>

            <p>{{'pages.termsAndConditions.disclaimer.paragraph4' | translate}}</p>

            <p>{{'pages.termsAndConditions.disclaimer.paragraph5' | translate}}</p>

            <ul>
                <li>{{'pages.termsAndConditions.disclaimer.list3.item1' | translate }}</li>
                <li>{{'pages.termsAndConditions.disclaimer.list3.item2' | translate }}</li>
                <li>{{'pages.termsAndConditions.disclaimer.list3.item3' | translate }}</li>
                <li>{{'pages.termsAndConditions.disclaimer.list3.item4' | translate }}</li>
                <li>{{'pages.termsAndConditions.disclaimer.list3.item5' | translate }}</li>
                <li>{{'pages.termsAndConditions.disclaimer.list3.item6' | translate }}</li>
                <li>{{'pages.termsAndConditions.disclaimer.list3.item7' | translate }}</li>
                <li>{{'pages.termsAndConditions.disclaimer.list3.item8' | translate }}</li>
                <li>{{'pages.termsAndConditions.disclaimer.list3.item9' | translate }}</li>
                <li>{{'pages.termsAndConditions.disclaimer.list3.item10' | translate }}</li>
                <li>{{'pages.termsAndConditions.disclaimer.list3.item11' | translate }}</li>
            </ul>

            <p>{{'pages.termsAndConditions.disclaimer.paragraph6' | translate}}</p>

            <ul>
                <li>{{'pages.termsAndConditions.disclaimer.list4.item1' | translate }}</li>
                <li>{{'pages.termsAndConditions.disclaimer.list4.item2' | translate }}</li>
                <li>{{'pages.termsAndConditions.disclaimer.list4.item3' | translate }}</li>
            </ul>

            <h2 id="requests-to-remove-content">{{'pages.termsAndConditions.requestToRemoveContent.header' | translate}}</h2>

            <p>{{'pages.termsAndConditions.requestToRemoveContent.paragraph1' | translate}}</p>

            <ul>
                <li>{{'pages.termsAndConditions.requestToRemoveContent.list1.item1' | translate }}</li>
                <li>{{'pages.termsAndConditions.requestToRemoveContent.list1.item2' | translate }}</li>
            </ul>

            <p>{{'pages.termsAndConditions.requestToRemoveContent.paragraph2' | translate | safe}}</p>

            <p>{{'pages.termsAndConditions.requestToRemoveContent.paragraph3' | translate | safe}}</p>

            <h2 id="information-about-you-and-your-visits-to-govuk">{{'pages.termsAndConditions.informationAboutYou.header' | translate}}</h2>

            <p>{{'pages.termsAndConditions.informationAboutYou.paragraph1' | translate | safe}}</p>

            <h2 id="virus-protection">{{'pages.termsAndConditions.virusProtection.header' | translate}}</h2>

            <p>{{'pages.termsAndConditions.virusProtection.paragraph1' | translate}}</p>

            <p>{{'pages.termsAndConditions.virusProtection.paragraph2' | translate}}</p>

            <h2 id="viruses-hacking-and-other-offences">{{'pages.termsAndConditions.virusesAndHacking.header' | translate}}</h2>

            <p>{{'pages.termsAndConditions.virusesAndHacking.paragraph1' | translate}}</p>

            <p>{{'pages.termsAndConditions.virusesAndHacking.paragraph2' | translate}}</p>

            <p>{{'pages.termsAndConditions.virusesAndHacking.paragraph3' | translate}}</p>

            <p>{{'pages.termsAndConditions.virusesAndHacking.paragraph4' | translate}}</p>

            <h2 id="governing-law">{{'pages.termsAndConditions.governingLaw.header' | translate}}</h2>

            <p>{{'pages.termsAndConditions.governingLaw.paragraph1' | translate}}</p>

            <p>{{'pages.termsAndConditions.governingLaw.paragraph2' | translate}}</p>

            <h2 id="general">{{'pages.termsAndConditions.general.header' | translate}}</h2>

            <p>{{'pages.termsAndConditions.general.paragraph1' | translate}}</p>

            <p>{{'pages.termsAndConditions.general.paragraph2' | translate}}</p>

            <p>{{'pages.termsAndConditions.general.paragraph3' | translate}}</p>

            <p>{{'pages.termsAndConditions.general.paragraph4' | translate}}</p>

            <p>{{'pages.termsAndConditions.general.paragraph5' | translate}}</p>

            <h2 id="changes-to-these-terms-and-conditions">{{'pages.termsAndConditions.changes.header' | translate}}</h2>

            <p>{{'pages.termsAndConditions.changes.paragraph1' | translate}}</p>

            <p>{{'pages.termsAndConditions.changes.paragraph2' | translate}}</p>

            <div class="app-c-published-dates" lang="{{htmlLang}}">
                {{'pages.termsAndConditions.lastUpdated' | translate}}
            </div>
        </div>
    </div>
{% endblock %}