{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "components/languageLink/macro.njk" import languageLink %}
{% from "components/autoInput/list/macro.njk" import autoList %}
{% from "components/autoInput/fill/macro.njk" import autoFill %}
{% extends "common/layout/view.njk" %}
{% set pageTitleName = 'pages.drivingLicence.start.title' | translate %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% set errorList = errorList | lastErrors(["#dob","#issued","#expiry"]) %}
            {% include "components/errorSummary/errorSummary.njk" %}
            <h1 class="govuk-heading-xl">{{ 'pages.drivingLicence.start.header' | translate }}</h1>
            <p>{{ 'pages.drivingLicence.start.info' | translate }}</p>
            <form action="/driving-licence" method="post" class="form" novalidate>
                <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
                {{ govukInput({
                label: {
                    html: 'pages.drivingLicence.start.number.label' | translate
                },
                id: "number",
                name: "number",
                value: number,
                autocomplete: "off",
                errorMessage: {
                        text: errors['number'].text
                    } if (errors['number'])
                }) }}

                {{ govukInput({
                label: {
                    html: 'pages.drivingLicence.start.surname.label' | translate
                },
                id: "surname",
                name: "surname",
                value: surname,
                autocomplete: "off",
                attributes: {list: "surname-list"},
                errorMessage: {
                        text: errors['surname'].text
                    } if (errors['surname'])
                }) }}
                {{ autoList({
                    name: "surname",
                    list: autoInput,
                    input: "surname"
                }) }}

                {{ govukInput({
                label: {
                    html: 'pages.drivingLicence.start.givenNames.label' | translate
                },
                id: "givenNames",
                name: "givenNames",
                value: givenNames,
                autocomplete: "off",
                attributes: {list: "givenNames-list"},
                errorMessage: {
                        text: errors['givenNames'].text
                    } if (errors['givenNames'])
                }) }}
                {{ autoList({
                    name: "givenNames",
                    list: autoInput,
                    input: "givenNames"
                }) }}

                {{ govukDateInput({
                id: "dob",
                namePrefix: "",
                items: [
                    {
                        id:"dobDay",
                        name:"dobDay", 
                        autocomplete: "off",
                        label: "common.dateInput.day" | translate,
                        classes: 'govuk-input--width-2 govuk-input--error' if (errors['dobDay'] or errors['dob']) else 'govuk-input--width-2',
                        value: dobDay or autoFill({ name: "dob", list: autoInput, input: "dobDay" })
                    },
                    {
                        id:"dobMonth",
                        name:"dobMonth", 
                        autocomplete: "off",
                        label: "common.dateInput.month" | translate,
                        classes: 'govuk-input--width-2 govuk-input--error' if (errors['dobMonth'] or errors['dob']) else 'govuk-input--width-2',
                        value: dobMonth or autoFill({ name: "dob", list: autoInput, input: "dobMonth" })
                    },
                    {
                        id:"dobYear",
                        name:"dobYear", 
                        autocomplete: "off",
                        label: "common.dateInput.year" | translate,
                        classes: 'govuk-input--width-4 govuk-input--error' if (errors['dobYear'] or errors['dob']) else 'govuk-input--width-4',
                        value: dobYear or autoFill({ name: "dob", list: autoInput, input: "dobYear" })
                    }
                ],
                fieldset: {
                    legend: {
                        text: "pages.drivingLicence.start.dob.label" | translate
                    }
                },
                errorMessage: {
                        text: errors['dobDay'].text or errors['dobMonth'].text or errors['dobYear'].text or errors['dob'].text
                    } if (errors['dobDay'] or errors['dobMonth'] or errors['dobYear'] or errors['dob'])
                }) }}   

                {{ govukDateInput({
                id: "issued",
                namePrefix: "",
                items: [
                    {
                        id:"issuedDay",
                        name:"issuedDay", 
                        autocomplete: "off",
                        label: "common.dateInput.day" | translate,
                        classes: 'govuk-input--width-2 govuk-input--error' if (errors['issuedDay'] or errors['issued']) else 'govuk-input--width-2',
                        value: issuedDay
                    },
                    {
                        id:"issuedMonth",
                        name:"issuedMonth", 
                        autocomplete: "off",
                        label: "common.dateInput.month" | translate,
                        classes: 'govuk-input--width-2 govuk-input--error' if (errors['issuedMonth'] or errors['issued']) else 'govuk-input--width-2',
                        value: issuedMonth
                    },
                    {
                        id:"issuedYear",
                        name:"issuedYear", 
                        autocomplete: "off",
                        label: "common.dateInput.year" | translate,
                        classes: 'govuk-input--width-4 govuk-input--error' if (errors['issuedYear'] or errors['issued']) else 'govuk-input--width-4',
                        value: issuedYear
                    }
                ],
                fieldset: {
                    legend: {
                        text: "pages.drivingLicence.start.issued.label" | translate
                    }
                },
                errorMessage: {
                        text: errors['issuedDay'].text or errors['issuedMonth'].text or errors['issuedYear'].text or errors['issued'].text
                    } if (errors['issuedDay'] or errors['issuedMonth'] or errors['issuedYear'] or errors['issued'])
                }) }}  

                {{ govukDateInput({
                id: "expiry",
                namePrefix: "",
                items: [
                    {
                        id:"expiryDay",
                        name:"expiryDay", 
                        autocomplete: "off",
                        label: "common.dateInput.day" | translate,
                        classes: 'govuk-input--width-2 govuk-input--error' if (errors['expiryDay'] or errors['expiry']) else 'govuk-input--width-2',
                        value: expiryDay
                    },
                    {
                        id:"expiryMonth",
                        name:"expiryMonth", 
                        autocomplete: "off",
                        label: "common.dateInput.month" | translate,
                        classes: 'govuk-input--width-2 govuk-input--error' if (errors['expiryMonth'] or errors['expiry']) else 'govuk-input--width-2',
                        value: expiryMonth
                    },
                    {
                        id:"expiryYear",
                        name:"expiryYear", 
                        autocomplete: "off",
                        label: "common.dateInput.year" | translate,
                        classes: 'govuk-input--width-4 govuk-input--error' if (errors['expiryYear'] or errors['expiry']) else 'govuk-input--width-4',
                        value: expiryYear
                    }
                ],
                fieldset: {
                    legend: {
                        text: "pages.drivingLicence.start.expiry.label" | translate
                    }
                },
                errorMessage: {
                        text: errors['expiryDay'].text or errors['expiryMonth'].text or errors['expiryYear'].text or errors['expiry'].text
                    } if (errors['expiryDay'] or errors['expiryMonth'] or errors['expiryYear'] or errors['expiry'])
                }) }}                             

                {{ govukButton({
                    text: "common.buttons.continue" | translate
                }) }}
            </form>
        </div>
    </div>
{% endblock %}