{% if params.list and params.name and params.input %}
    <ul>
        {% for item in params.list.items %}
            {% if item.name == params.name and item.type == "list" %}
            {% for i in item.values %}
                 <li class="govuk-footer__inline-list-item">
                    {{ i[params.input] }}
                </li>
            {% endfor %}
               
            {% endif %}
        {% endfor %}   
    </ul>
{% endif %}